<h1>Student List :)</h1>

<div id="students">
  <% @students.each do |student| %>
  <%= render student %>
  <p>
    <%= link_to "Show this student", student, class:"btn btn-secondary" %>
  </p>
  <% end %>
</div>
<br/><br/>
<%= link_to "Create new student", new_student_path, class:"btn btn-secondary" %>
  