<div id="<%= dom_id department %>">

<table class="table">
  <thead>
    <tr>
      <th>Department Name</th>
      <th>Depatment Course</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= department.name %>
      </td>
      <td>
        <%= department.course %>
      </td>
    </tr>
  </tbody>
</table>