<h1>Department List :D</h1>

<div id="departments">
  <% @departments.each do |department| %>
  <%= render department %>
  <p>
    <%= link_to "Show this department", department, class:"btn btn-secondary" %>
  </p>
  <% end %>
</div>
<br/><br/>
<%= link_to "Create new department", new_department_path, class:"btn btn-secondary" %>
  