<h1>College List :)</h1>

<div id="colleges">
  <% @colleges.each do |college| %>
  <%= render college %>
  <p>
    <%= link_to "Show this college", college, class:"btn btn-secondary" %>
  </p>
  <% end %>
</div>
<br/><br/>
<%= link_to "Create new college", new_college_path, class:"btn btn-secondary" %>
  